<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <h3 id="Titulo">Bienvenido de vuelta!</h3>
   <header>
        {% block navbar %}  {% endblock %}
    </header>
    {% block content %} {% endblock %}
  </body>
</html> 