{% extends 'base.html' %}

{% block navbar %}
<nav>
    <ul class="nav__links">
        <li><a href="/homepage/{{data.desarrollador_codigo}}">Inicio</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="/products/{{data.desarrollador_codigo}}">Postear</a></li>
        <li><a href="/recharge/{{data.desarrollador_codigo}}">Recargar</a></li>
    </ul>
</nav>
<a class="cta" href="/">Logout</a>
{% endblock %}

{% block content %}
<form id="public_product">
    <h1>SUBIDA DE PRODUCTO</h1>
    <label>Wapsiworks es un conjunto de herramientas y servicios que ayuda a desarrolladores y editores a sacar el máximo partido a la distribución de juegos en Wapsi.
    </label>
    <p></p>
    <p>Su Correo:</p>
    <input type=»text» id="Correo" name="Correo" value="{{data.desarrollador_codigo}}" readonly=»readonly» placeholder="{{data.desarrollador_codigo}}">
    <p>Nombre del juego:</p>
    <input type="text" id="name" name="name">
    <p>Precio del juego en llamacoins:</p>
    <select class="controles" id="price" name="price">
        <option value="250">250</option>
        <option value="500">500</option>
        <option value="700">700</option>
        <option value="1500">1500</option>
        <option value="2800">2800</option>
    </select>
    <p>Categoria:</p>
    <select class="controles" id="categoria" name="categoria">
        <option value="Autor">Autor</option>
        <option value="Compañia">Compañia</option>
    </select>
    <input type="submit" id="submit" value="Submit">
</form>

<script src="../../static/js/product.js"></script>

{% endblock %}