{% extends 'base.html' %}
{% block content %}
<form id="register">
    <h5>REGISTRO</h5>
    <!--registro del usuario -->
    <input class="controles" type="text" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="fecha_nacimiento" />
    <!-- nombre del usuario -->
    <input class="controles" type="text" id="nombre" name="nombre" placeholder="nombre" />
    <!-- apellido -->
    <input class="controles" type="text" id="apellido" name="apellido" placeholder="apellido" />
    <!-- edad -->
    <input class="controles" type="text" id="edad" name="edad" placeholder="edad" />
    <!-- correo -->
    <input class="controles" type="text" id="correo" name="correo" placeholder="correo" />
    <!-- contraseña -->
    <input class="controles" type="password" id="contrasenia" name="contrasenia" placeholder="contrasenia" />
    <!-- contraseña -->
    <!--<input class="controles" type="password" id="password" name="password" placeholder="contraseña"/>-->
    <input class="botones" type="submit" id="submit" value="REGISTRARSE" />
</form>
<script src="../static/js/users.js"></script>
{% endblock %}